@model Ventas
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container mb-5">
  <div class="row justify-content-md-center">
     <!--------------------------------------- Columna de Editar Registro--------------------------------------->
    <div class="col-sm-8 ">
      <form asp-controller="Admistrar" asp-action="ActualizarVenta" class="row g-3 border border-1 mt-5 p-4">
             <h3 class=" text-center mx-3 texto_login"> Editar Ventas </h3>

         <div class="col-md-6 mb-3">
            <div class="form-group mb-3">
                <input type="hidden" asp-for="VentaId">
                <span class="form-text texto_login">Articulo:</span>
                <select asp-for="ArticuloID" class="form-control" asp-items="@(new SelectList(ViewBag.Articulo,"ArticuloId","Nombre"))">
                    <option class="nav-link disabled">Seleccionar</option>
                </select>
            </div>  
             <div class="form-outline mb-3">
                <span class="form-text texto_login">Cantidad:</span>
                <input type="text" asp-for="Cantidad" class="container-fluid p-2 bg-light" placeholder="Cantidad">
            </div>

        </div>

                  
    <div class="col-md-6 mb-3">
            <div class="form-group mb-3">
                <span class="form-text texto_login">Pago:</span>
                <select asp-for="PagoID" class="form-control" asp-items="@(new SelectList(ViewBag.pago,"PagoId","Codtransaccion"))">
                    <option class="nav-link disabled">Seleccionar</option>
                </select>
            </div>  
    </div>

    <div class="col-md-6 mb-3">
            <div class="form-group mb-3">
                <span class="form-text texto_login">Cliente:</span>
                <select asp-for="ClienteID" class="form-control" asp-items="@(new SelectList(ViewBag.cliente,"ClienteId","Nombre"))">
                    <option class="nav-link disabled">Seleccionar</option>
                </select>
            </div>  
    </div>

    <div class="col-md-6 mb-3">
            <div class="form-group mb-3">
                <span class="form-text texto_login">Empleado:</span>
                <select asp-for="EmpleadoID" class="form-control" asp-items="@(new SelectList(ViewBag.Empleado,"EmpleadoId","Nombre"))">
                    <option class="nav-link disabled">Seleccionar</option>
                </select>
            </div>  
    </div>

    <div class="form-outline mb-3">
    <span class="form-text texto_login">Fecha:</span>
    <input type="datetime-local" asp-for="Fecha" class=" p-2 bg-light">
    </div>
        <div class="container mb-3">
        <button type="submit" class="btn btn-outline-primary container-fluid">Agregar</button>
        </div>
    </form>
    </div>
  </div>
</div>