@model Proveedores
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container mb-5">
  <div class="row justify-content-md-center">
     <!--------------------------------------- Columna de Editar Registro--------------------------------------->
    <div class="col-sm-8 ">
      <form asp-controller="Producto" asp-action="ActualizarProveedor" class="row g-3 border border-1 mt-5 p-4">
             <h3 class=" text-center mx-3 texto_login"> Editar Proveedores </h3>
        
        <div class="col-md-6 mb-3 mt-3">
             <input type="hidden" asp-for="ProveedorId">
             <span class="form-text texto_login">Nombre:</span>
            <input type="text" asp-for="Nombre" class="container-fluid p-2 bg-light" placeholder=" Proveedor"/>
        </div>

         <div class="col-md-6 mb-3">
             <span class="form-text texto_login">Apellido:</span>
           <input type="text" asp-for="Apellido" class="container-fluid p-2 bg-light" placeholder="Apellido">
        </div>

         <div class="col-md-6 mb-3">
           <span class="form-text texto_login">Direccion:</span>
           <input type="text" asp-for="Direccion" class="container-fluid p-2 bg-light" placeholder="Direccion">
        </div>

         <div class="col-md-6 mb-3">
           <span class="form-text texto_login">Telefono:</span>
           <input type="text" asp-for="Telefono" class="container-fluid p-2 bg-light" placeholder="Telefono">
        </div>

        <div class="container mb-3">
        <button type="submit" class="btn btn-outline-primary container-fluid">Agregar</button>
        </div>
    </form>
    </div>
  </div>
</div>